{% extends './base.html.twig' %}

{% block header %}
  <div class="nav nav-pills">
    <div class="nav-item"><a href="{{ path('promotores_homepage') }}" class="dropdown-header nav-link">HOME</a></div>
    <div class="nav-item">
      <a class="dropdown-header nav-link" href="#">REGISTRO</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path('promotores_novo') }}">Cadastro</a>
        <a class="dropdown-item">Relat&oacute;rio</a>
      </div>
    </div>
      <ul class="nav">
    <li class="nav-item">
      <form class="search-form">
          <input type="text" class="search form-control" placeholder="Busca"/>
      </form>
    </li>
    <li class="nav-item">
      <a href="#" class="dropdown-header nav-link">Painel</a>
    </li>
    <li class="dropdown-header nav-item">
      <a href="#" class="nav-link navbar-toggler"><input type="button" class="navbar-toggler-icon"/></a>
    </li>
    </ul>

  </div>
  </nav>
 </header>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}
<main id="main">
  <figure class="figure w-100 h-25">
    <img class="figure-img w-100 h-75 d-inline-block" src="{{ asset('images/promotor-de-vendas.png') }}"/>
    <figcaption class="figure-caption">imagem: Cia do trade</figcaption>
  </figure>
  <form action="{{ path('promotores_lista') }}">
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="nome">Nome:</label>
      <div class="col-sm-5">
        <input type="text" name="nome" id="nome" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="cpf">CPF:</label>
      <div class="col-sm-1">
        <input type="text" name="cpf" id="cpf" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="email">Email:</label>
      <div class="col-sm-5">
        <input type="text" name="nome" id="email" class="form-control">
      </div>
    </div>
    <button class="btn">Enviar</button>
  </form>
</main>
{% endblock %}
