<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="author" content="Filip Barreto"/>
        <title>Desafio Backend - Symfony</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}
        
        {% block sidebar %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
